.app {
  background-color: #fafafa;
  /* height: 100vh; */
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.app__header-image {
  width: 100px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__uploader {
  margin: 10px auto;
  width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 20px;
  text-align: center;
}
